<div class="row">
  <div class="col-md-6">
    <h1>Tasks List</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary">Create New Task</button>
  </div>  
</div>
<div class="task-list">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col ">No</th>
        <th scope="col">Title</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><button class="btn btn-link">bla bla bla task #1</button></td>
        <td><i class="fas fa-pencil-alt"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><button class="btn btn-link">bla bla bla task #2</button></td>
        <td><i class="fas fa-pencil-alt"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><button class="btn btn-link">bla bla bla task #3</button></td>
        <td><i class="fas fa-pencil-alt"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><button class="btn btn-link">bla bla bla task #4</button></td>
        <td><i class="fas fa-pencil-alt"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><button class="btn btn-link">bla bla bla task #5</button></td>
        <td><i class="fas fa-pencil-alt"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
    </tbody>
  </table>
</div>